/* ============================= General Styles ============================= */

html, body {

padding: 0px;
margin: 0px;
}
table { empty-cells:show; }
body.body-checkout { background:#fff!important;

font-family: globerregular;}
.regheader{
	width:80%;
	color:black;
	padding:3px;
	text-align:left;
	font-size:10px;
}

/*checkbox without margin*/
input.checknomarging{
	margin: 0px;
}

input.input_message{
	color: #aaaaaa;
}
input.input_message_focus{
	color: #000000;
}
ul.product_list{
 list-style-type:none;
 margin: 0px;
 padding: 0px;
 overflow: hidden;
 width: auto;
 text-align:center;
}

ul.product_list li{
text-align:center;
margin: 0px;
padding: 0px;
float: left;
}

#powered_by{
	font-size: 70%;
	text-align: center;
	color: #777777;
	padding-top: 10px;
	padding-bottom:5px;
}
#powered_by a{
	color: #777777;
	text-decoration: none;
}

/* BAsket*/

.cart .head {
    
    padding: 0;
}
.cart th {
    padding:0;
    text-align: center;
    font-weight: 700;
    color: ##777777
}

.k_font {
    font-size: 20px;
    font-weight: 700;
	color:#bf3356;
	line-height:30px;
	padding-top:1px;
}
.k_dec {

	float:left;
	 margin-left:10px;
    text-decoration: none
}
.k_inc {
   float:right;
  margin-right:13px;
    
    text-decoration: none
}
.cart th.photo {
    width: 142px;
    background: 0 0;
	padding:0 15px;
}
.cart th.name {
   text-align:left;
   width:213px;
   padding-left:67px;
}
.cart th.price {
   
}
.cart th.count {
    width: 70px;
	padding-left:120px;
	
}
.cart th.sum {
    width: 135px;
	padding-left:12px;
	text-align:left;
	padding-left:130px;
}
.cart th.delete {
    width: 85px
}
.cart .row  tr{
    border-radius: 20px;
  
    margin: 0 0 17px;
	float:left;
	overflow:hidden;
}
.cart .rowIn table, .cart .rowIn tbody
{
	height:147px;
	border-spacing:0;
}
.cart .rowIn {
    border-radius: 7px;
   
    
}
.cart .rowIn tr
{
	height:147px;
}

.cart .row td {
    background: url(../gfx/cart-delim-td.png) top left repeat-y;
	padding:0;
	background: #fff;
}
.cart .row td.photo {
 
    text-align: center;
   
	 
}
.cart .row td.photo a {
    display: block;
    margin: 20px;
    text-decoration: none;
	border:1px solid #f0f0f0;
	height:100px;
	width:100px;
	vertical-align:middle;
	line-height:100px;
	
	border-radius:7px;
}
.cart .row td.photo a img {
    max-height: 105px;
    margin: 0 auto;
	display:inline-block; vertical-align:middle;
	
}
.cart .row td.name {
    width: 220px;
    padding: 0 20px 0 65px;
    font-size: 14px;
	
}
.cart .row td.name a {
    text-decoration: none;
    color: #565656;
	font-family: globersemibold;
	font-size:14px;
}
.cart .row td.name a:hover {
    text-decoration: none;
    color: #95032e;
}
.cart .row td.price {
    width: 159px;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    font-size: 13px
}
.cart .row td.price span {
    font-size: 24px;
    color: #565656;
    margin-right: 5px
}
.cart .row td.count {
    text-align: center;
    width: 151px;
	position:relative;
	padding-left:70px;
}
.cart input[type=text] {
    width: 58px;
    border: 1px solid #d6d6d6;
    background: #fff;
    border-radius: 3px;
    padding: 5px;
    color: #696969;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    margin: 0;
    outline: 0
}
.cart .row td.sum {
    text-align: left;
    width: 192px;
   font-family: globerbold;
	padding-left:97px;
	font-size:16px;
}
.cart .row td.sum span {
   
    
}
.cart .row td.delete {
    text-align: center;
    width: 42px;
	background:#efefef;
}
a.deleteLink {
    
    text-decoration: none;
    display: inline-block;
    width: 41px;
    height: 43px;
    color:#d1d1d1;
	font-size:52px;
	font-weight:bold;
	line-height:50px;
}
a.deleteLink:hover {
    background-position: 0 -50px
}
.order {
    padding: 0 0 11px;
    margin: 0 0 30px;
    background: url(../gfx/splash-slider-wrap-wave.png) 50% 100% no-repeat
}
.orderIn {
    border-radius: 3px;
    height: auto;
    

}

#order-form
{
	width:100%;
}

#basket_fon h2
{
	clear:both;
	    margin-bottom: 20px;
	margin-top:30px;
	color:#535353;
	/* background:white; */
}

#basket_fon .left
{
	width:875px;
	margin-right:325px;
}

#basket_fon .right
{
	float:right;
}
#basket_fon .right .advantages
{
	margin-top:34px;
	padding:20px 55px 20px 20px;
	background:white;
	width:210px;
	border-radius:10px;
	
}
#basket_fon  table
{
	color:#535353;
}

.main_date
{
	padding:20px;
	background:white;
	margin-bottom:30px;
	float:left;
	clear:both;
	border-radius:10px;
}
#order-form input, .quickBuy input
{
	
	padding:15px 17px;
	border-radius:5px;
	border:1px solid #d4d4d4;
	outline:none;
	
}
#fastorder-form .oneClickBuy
{
	width:255px;
}

#fastorder-form input
{
	width:220px;
	margin-bottom:15px;
}
#fastorder-form input:nth-child(2)
{
	margin:0;
}
#order-form input::-webkit-input-placeholder, #order-form textarea::-webkit-input-placeholder
{
	color:#535353
}

#order-form input[name='adress']
{
	width:305px;
	float:left;
}
#order-form input[name='post_index']
{
	width:485px;
	float:left;
	margin-left:12px;
}
#order-form textarea[name='extra_information']
{
	margin-top:30px;
	width:852px;
}


.main_date input
{
	width:220px;
	margin-right:30px;
}
.main_date input:last-child
{
	margin:0;
}
.orderIn .inner {
    padding: 0 34px
}
.orderIn:after {
    clear: both;
    content: '';
    display: block
}
.overall {
    float: right
}
.overall th {
    text-align: right;
    padding: 0 40px 0 0
}
.overall td {
    height: 34px;
    text-align: left;
    padding: 0 0 0 10px;
    font-weight: 700
}
.overall td.num {
    text-align: right;
    padding: 0 0 3px;
    font-size: 22px;
    color: #95032e
}
.deliveryMethod {
    margin: 0 0 20px;
	overflow:hidden;
    position: relative;
	clear:both;
}
.caption {
  
    color: #bf3356;
    margin: 0 12px 25px 0;
	line-height:20px;
	font-size:18px;
	font-family: globersemibold;
}
.deliveryMethod select {
    float: left
}
.deliveryMethod .sbHolder {
    width: 305px
}
a.doneBtn {
    display: block;
    width: 171px;
    height: 41px;
    margin-top: 35px;
    background: url(../gfx/cart-next.png) no-repeat;
    text-decoration: none;
    color: #e3ecd9;
    padding: 0;
    text-indent: -6000px
}
a.doneBtn.disabled {
    cursor: default
}
.orderForm {
    clear: both;
    margin: 0;
}
.orderForm:after {
    clear: both;
    content: '';
    display: block
}
.orderForm .colLeft {
    float: left;
    width: 50%
}
.orderForm .colRight {
    float: right;
    width: 45%
}
.orderForm input[type=email],
.orderForm input[type=tel],
.orderForm input[type=text] {
    width: 100%;
    border: 1px solid #d6d6d6;
    background: #fff;
    border-radius: 3px;
    padding: 6px 10px;
    color: #929292;
    margin: 0;
    outline: 0
}
.orderForm textarea {
    width: 100%;
    height: 110px;
    border: 1px solid #d6d6d6;
    background: #fff;
    border-radius: 3px;
    padding: 6px 10px;
    color: #929292;
    margin: 0;
    outline: 0
}
.orderForm p {
   
}
.btnWrap {
    height: 77px;
    padding: 24px 0 0
}
.orderForm .btnWrap {
    margin: -10px 0 0;
	
}

.orderForm .btnWrap button
{
	
}
.btnWrap button, .oneClickBuy {
	padding:15px  95px 12px 95px;
	border: 1px solid #5caf22;
	background:none;
	margin-left:130px;
	border-radius:30px;
	font-family: globerbold;
	color:#5caf22;
	font-size:18px;
}

button.oneClickBuy 
{
	margin:25px 0 0 0;
	padding:15px 51px;
	cursor:pointer;
	outline:none;
}

.quickBuy .price, #dropBasket .price
{
	padding-left:111px;
	color:#bf3356;
	font-family: globerxbold;
	font-size:16px;
}
.btnWrap button:hover {
    color: #fff;
	background:#5caf22;
}

.small_fhoto_cont .caroufredsel_wrapper ul li:nth-child(1)
{
	
}
/*end basket*/
/*  styles for the unit rater     */
.sm-current-rating1 { /*general.css (line 56)*/ 
	background:transparent url(../images_common/star0sm.gif) repeat-x  scroll left top; 
	height:13px; 
	line-height:13px; 
	margin:4px; 
	position:relative; 
	width:65px; 
	overflow:hidden; 
}
.sm-current-rating1 div.sm-current-rating1-back { /*general.css  (line 63)*/ 
	background:transparent url(../images_common/star0sm.gif) repeat-x  scroll left top; 
	height:13px; 
	line-height:13px; 
	font-size:0px; 
	position:absolute; 
	width:65px; 
	z-index:10; 
}
.sm-current-rating1 div.sm-current-rating1-front {  /*general.css (line 69)*/ 
	background:transparent url(../images_common/star1sm.gif) repeat-x  scroll left top; 
	height:13px; 
	line-height:13px; 
	font-size:0px; 
	position:absolute; 
	z-index:20; 
}

.current-rating1 {/*general.css (line 75)*/ 
	background:transparent url(../images_common/star0.gif) repeat-x  scroll left top; 
	height:20px; 
	line-height:20px; 
	position:relative; 
	width:100px; 
	overflow:hidden; 
}
.current-rating1 div.current-rating1-back { /*general.css (line 81)*/ 
	background:transparent url(../images_common/star0.gif) repeat-x  scroll left top; 
	height:20px; 
	line-height:20px; 
	position:absolute; 
	width:100px; 
	z-index:10; 
	font-size:0px; 
}

.current-rating1 div.current-rating1-front { 
	/*general.css (line 87)*/ 
	background:transparent url(../images_common/star1.gif) repeat-x  scroll left top; 
	height:20px; 
	line-height:20px; 
	position:absolute; 
	z-index:20; 
	font-size:0px; 
}
.unit-rating { /* the UL */
	list-style:none;
	margin: 0px;
	padding:0px;
	height: 20px;
	position: relative;
	background: url('../images_common/starvote.gif') top left repeat-x;		
	}

.unit-rating li{
    text-indent: -90000px;
	padding:0px;
	margin:0px;
	/*\*/
	float: left;
	/* */
	}
	
.unit-rating li a {
	outline: none;
	display:block;
	width:20px;
	height: 20px;
	text-decoration: none;
	text-indent: -9000px;
	z-index: 20;
	position: absolute;
	padding: 0px;
	}
	
.unit-rating li a:hover{
	background: url('../images_common/star1.gif') left center;
	z-index: 2;
	left: 0px;
	}
.ui-slider {
	position: relative;
	text-align: left;
}
.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 1.2em;
	height: 1.2em;
	cursor: default;
	-ms-touch-action: none;
	touch-action: none;
}
.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	background-position: 0 0;
}

/* support: IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
	filter: inherit;
}

.ui-slider-horizontal {
	height: .8em;
}
.ui-slider-horizontal .ui-slider-handle {
	top: -.3em;
	margin-left: -.6em;
}
.ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
	left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
	right: 0;
}

.ui-slider-vertical {
	width: .8em;
	height: 100px;
}
.ui-slider-vertical .ui-slider-handle {
	left: -.3em;
	margin-left: 0;
	margin-bottom: -.6em;
}
.ui-slider-vertical .ui-slider-range {
	left: 0;
	width: 100%;
}
.ui-slider-vertical .ui-slider-range-min {
	bottom: 0;
}
.ui-slider-vertical .ui-slider-range-max {
	top: 0;
}

.unit-rating a.r1-unit{left: 0px;}
.unit-rating a.r1-unit:hover{width:20px;}
.unit-rating a.r2-unit{left:20px;}
.unit-rating a.r2-unit:hover{width: 40px;}
.unit-rating a.r3-unit{left: 40px;}
.unit-rating a.r3-unit:hover{width: 60px;}
.unit-rating a.r4-unit{left: 60px;}	
.unit-rating a.r4-unit:hover{width: 80px;}
.unit-rating a.r5-unit{left: 80px;}
.unit-rating a.r5-unit:hover{width: 100px;}

.unit-rating li.current-rating {
	background: url('../images_common/starvote.gif') left bottom;
	position: absolute;
	height: 20px;
	display: block;
	text-indent: -9000px;
	z-index: 1;
	}	
.review_content {
	/*width: 90%;*/
	overflow:hidden;
	oveflow-x:hidden;
	padding:0 85px 0 0;
	zoom:1;
}
@media print {
	input,.noprint {
		display: none;
	}
}

.clear {
	clear: both;
}
/* ====================== MAIN THEME STYLES: layout, fonts & colors ====================== */

p, body, font, div, td, input, select, textarea
{     font-family: globersemibold;
  font-size:14px;
  line-height:17px;
}

h1
{ font-size: 160%;
}
h2
{ font-size: 24px;

font-family: globerbold;
    color: #BF1A4C;

margin:0;
line-height:24px;

}
h2.h2_main
{
	padding:38px 0; 
}
h3
{ 
font-size: 18px;

font-family: globerbold;
    color: #96b400;
}

form{
 padding:0px;
 margin: 0px;
}

a
{ 
  color: #0085B0;
  outline:none;
}

a img{
 border: 0;
}

/* ====================== COMPONENT CONTAINER STYLES ====================== */


#container_top
{ text-align:center;
  vertical-align:middle;
  background: url('/frontend/img/sci_logo.jpg') left no-repeat;
  height:154px;
  border-bottom: 1px solid #111;
}

#container_top_right
{ text-align: center;
  vertical-align:middle;
  width: 170px;
  border-bottom: 1px solid #111;

}

#container_left_sidebar
{ width:179px;
  text-align: left;
  vertical-align: top;
  background:url(../../images/sci_down_left.gif) left bottom no-repeat; padding-bottom:200px;
}
#container_right_sidebar { width:170px; text-align: left;
  vertical-align: top; background:url(../../images/sci_down_right.gif) right bottom no-repeat; padding-bottom:200px;}
#container_main_content
{ width:"*";
 text-align: left;
  vertical-align: top;
  padding: 0px;
}

#container_footer{ 
  width: 100%;
  color: white;
  margin: 0px; padding: 0px;
  background:url('/frontend/img/sci_down_bg.png') left bottom repeat-x;
  height:52px;
}

.sci_down_l { background: #ffffff; width:82px; height:52px; float:left;}
.sci_down_r { background: #ffffff; width:80px; height:52px; float:right;}
.sci_lb_body {  background:url(../../images/sci_t1_bg_l.gif) left top repeat;}
.sci_rb_body { background:url(../../images/sci_t1_bg_r.gif) right top repeat-y; }
.all_wrapper {margin:0 24px; position:relative; background:#fff; //width:100%;}
.sci_lt { position:absolute;width:24px; }
.sci_lb { background: #FFD042; }
.sci_rb { background: #FFD042; }
.sci_lt { background: #FFD042; }

.sci_topbg { background: #FFD042 url(../../images/sci_hat_bg.gif) left top repeat-x;} 
.url_subscr { text-align:center; clear:both;  color:#666;}
/* ====================== DEFAULT STYLES OF VARIOUS COMPONENTS ====================== */

/* padding for all general components */
.cpt_news_short_list, .cpt_survey, .cpt_category_tree, .cpt_maincontent,
.cpt_currency_selection, .cpt_divisions_navigation, .cpt_auxpages_navigation
{
  text-align: left;
  padding: 10px;
//  width: 100%;
}

ul.vertical, ul.horizontal
{ padding: 0px;
  margin: 0px;
}
ul.horizontal{
width: 100%;
overflow: hidden;
}
.vertical li
{ padding-left: 0px;
  padding-bottom: 2px;
}
.horizontal li
{ float: left;
  margin-right: 25px;
}

.cpt_divisions_navigation ul
{ list-style-type: none;
margin: 0px;
}


.cpt_auxpages_navigation .vertical li
{ padding-left: 5px;
}
.cpt_auxpages_navigation ul.horizontal
{ list-style-type: none;
  padding-left: 0px;
}

.cpt_shopping_cart_info
{text-align: center;
}

.cpt_shopping_cart_info div { margin:0;}
.cpt_shopping_cart_info a
{ display:block;
 color: white;
  padding:0 5px 0 20px; text-transform:uppercase;

}



.survey_question{
 font-weight: bold;
 margin-bottom: 10px;
}
.survey_submit{
 margin-top: 10px;
 text-align:center;
}
.cpt_survey form{
 padding:0px;
 margin: 0px;
}

.cpt_currency_selection
{ text-align: center;
}
.cpt_currency_selection select
{ font-size: 90%;
}
.cpt_currency_selection form{
 display: inline;
}

.cpt_product_search form{
 margin: 0px!important;
 padding: 10px;
}

.cpt_language_selection {
  padding: 5px;
  text-align:right; padding-right:8px;
}

.cpt_category_tree {
 padding:0;

}
.cpt_category_tree ul{
 list-style-type:none;
 margin:0px;
 padding:0px;
}
.cpt_category_tree ul li { padding:2px 0px 2px 20px; background:url('/frontend/img/sci_strela.png') left 5px no-repeat;}
.cpt_category_tree ul li a {  text-decoration:none;}
.cpt_category_tree ul li a:link {color:#2c618f;}
.cpt_category_tree ul li a:visited { color:#2c618f;}
.cpt_category_tree ul li a:hover { color:#2c618f; text-decoration:underline;}
.cpt_category_tree ul li.child, .cpt_category_tree ul li.child_current { background:none;}
.cpt_category_tree .bullet { font-size:0px;}
.cpt_category_tree .parent_current a {
 font-weight: bold;
 color: black!important;
 text-decoration: none;
}

.cpt_category_tree .child a {
 padding-left: 10px;
 font-size:90%;
 font-weight:normal;
 background: none;
}
.cpt_category_tree .child_current a{
 padding-left: 10px;
 background: url(../../images/mdr_point_v.gif) left center no-repeat;
 color: black!important;
 text-decoration: none;
}
a .bullet{
  text-decoration: none!important;
}
.cpt_category_tree .tab{
 margin-left:10px;
}

.cpt_product_add2cart_button{ 
	padding-top: 10px;
	vertical-align: bottom;
}
ul.product_list li { border:1px solid #e0e0e0; border-right:none;}
ul.product_list { border-right:1px solid #e0e0e0;}
.home_page_category_logo { background:url(../../images/defaultnocatimage.gif) left top no-repeat; display:block; height:65px; width:65px;}
#container_main_content .cpt_root_categories td.cat_image a {position:relative; top:-0.8em;}
#container_main_content .cpt_root_categories { padding-top:1em;}
#container_main_content .cpt_root_categories td { vertical-align:top;}

/* ====================== SET HOW CERTAIN COMPONENTS APPEAR IN VARIOUS CONTAINERS ====================== */
/* ====================== (if you wish to overwrite default appearence of components in certain containers) ====================== */
#container_top .cpt_custom_html, #container_top .cpt_divisions_navigation,  #container_top .cpt_auxpages_navigation { margin-left:180px;}

#container_left_sidebar .cpt_category_tree,
#container_left_sidebar .cpt_auxpages_navigation,
#container_left_sidebar .cpt_divisions_navigation,
#container_left_sidebar .cpt_product_search,
#container_left_sidebar .cpt_news_short_list
#container_left_sidebar .cpt_shopping_cart_info{ 
	border-right: 1px solid #E1E1E1;
	border-bottom: 1px solid #E1E1E1;
	border-radius:  0px 0px 5px 0px;
	margin-bottom:10px; padding-bottom:5px;
}

.sci_box_left_b { background:#fff url(../../images/sci_katalog_bg_down.gif) left bottom no-repeat; margin-bottom:10px; height:10px;}
.sci_box_right_b  { background:#fff url(../../images/sci_katalog_bg_down1.gif) left bottom no-repeat; margin-bottom:10px; height:10px;}
#container_left_sidebar .cpt_category_tree  ul  { background:url(../../images/sci_katalog_bg.gif) right bottom repeat-y; padding:0 5px;}


#container_right_sidebar .cpt_shopping_cart_info,#container_right_sidebar .cpt_product_search { 	
	border-left: 1px solid #E1E1E1;
	border-bottom: 1px solid #E1E1E1;
	border-radius:  0px 0px 0px 5px; margin-bottom:10px; 
	padding-bottom:5px;
}


.shcart_link a.hndl_proceed_checkout { 
	line-height:28px;
	font-size: 12px;
	text-transform: uppercase; 
	text-decoration:none; 
	padding: 0px 0px 0px 30px;
	color: #9F0505;  
}
.shcart_link {  background: #FFD042; border-radius: 5px 0px 0px 0px;}
.shcart_link a:hover { text-decoration:underline;}
#container_right_sidebar .cpt_news_short_list  { 
	border-left: 1px solid #E1E1E1;
	border-bottom: 1px solid #E1E1E1;
	border-radius:  0px 0px 0px 5px;	
}

#container_top .cpt_custom_html a { text-decoration:none; font-size:35px; font-family:Arial, Helvetica, sans-serif; line-height:150%;}
#container_top .cpt_custom_html span { padding:0 2px;}
.sci_l1 { color:#214B70;}
.sci_l2 { color:#fff;}
.sci_l3 { color:#214B70;}


#container_top .cpt_divisions_navigation, #container_top .cpt_auxpages_navigation
{ padding:5px 20px; //padding:0px 20px; text-align:center;}


#container_top .cpt_divisions_navigation a, #container_top .cpt_auxpages_navigation a
{ color: fff;
  text-decoration:none;
  font-weight: bold;
}

#container_top .cpt_divisions_navigation ul.vertical, #container_top .cpt_auxpages_navigation ul.vertical
{ list-style-image: none;
  padding: 0px;
  margin: 0px;
  
}
#container_top .cpt_divisions_navigation ul.horizontal li, #container_top .cpt_auxpages_navigation ul.horizontal li, #container_top .cpt_divisions_navigation ul.horizontal li, #container_top .cpt_auxpages_navigation ul.horizontal li
{ list-style-image: none;
  padding: 0 10px;
  margin: 0px;
  display:inline;
  float:none;
  border-right:solid 1px #b7cce9;
  
}
#container_top_right  .cpt_divisions_navigation ul.vertical li, #container_top_right  .cpt_auxpages_navigation ul.vertical li { background:url('/frontend/img/sci_li_infopages.png') left no-repeat;  padding-left:20px;}

#container_top_right .cpt_auxpages_navigation ul
{ list-style-type: none;
}
#container_top_right  .cpt_divisions_navigation a, #container_top_right  .cpt_auxpages_navigation a
{ text-decoration: underline; color:#fff;
}
#container_top_right  .cpt_divisions_navigation a:hover, #container_top_right  .cpt_auxpages_navigation a:hover
{ text-decoration: underline;
}

#container_top_right .cpt_language_selection a, #container_top .cpt_language_selection a
{ color: white;
}

#container_top_right .cpt_currency_selection
{ padding: 5px;
  color: white;
  background-color: black;
}


/*container_left_sidebar styles*/
/*#container_left_sidebar .cpt_shopping_cart_info { background:url(../../images/sci_katalog_prod_1.gif) left top no-repeat;}*/

#container_left_sidebar .cpt_product_search form, #container_left_sidebar .cpt_survey
{ background: transparent url(../../images/sci_katalog_bg.gif) right top repeat-y ;}
#container_right_sidebar .cpt_shopping_cart_info div
{ background: transparent url(../../images/sci_katalog_bg.gif) left top repeat-y ; }

#container_left_sidebar .cpt_product_search a {color:#163106;}
#container_left_sidebar .col_header, #container_right_sidebar .col_header{  color:#fff; line-height:28px;   padding:0 0 0 30px; font-weight:bold; font-family:Arial, Helvetica, sans-serif; text-transform:uppercase;}
#container_left_sidebar .col_header { 
	background: #FFD042;
	border-radius: 0px 5px 0px 0px;
}
#container_right_sidebar .col_header { 
	background: #FFD042;
	border-radius: 5px 0px 0px 0px;
}


#container_footer .cpt_divisions_navigation
{ padding: 3px;
  padding:10px 0 0 0 ;
  text-align: center;
}
#container_footer .cpt_divisions_navigation ul, #container_footer .cpt_divisions_navigation li { display:inline; float:none;}
#container_footer .cpt_divisions_navigation a
{ font-weight: normal;
}

#container_main_content .cpt_product_lists
{ padding-bottom: 20px;
}

#container_right_sidebar .cpt_news_short_list
{  
}
#container_left_sidebar .cpt_news_short_list
{  
   background-position: right;
}

#container_top .cpt_tag_cloud a, #container_top .cpt_category_tree a
{ color: white;
}
#container_top .cpt_language_selection { width:auto; float:right; display:inline; _margin-top:70px;}
#container_top .cpt_language_selection a img { border:#ffffff solid 1px ;}
#container_left_sidebar .cpt_product_search input {padding:1px;}
#container_left_sidebar .cpt_product_search input#searchstring
{ width: 120px;
border:solid 1px #707070;padding:2px;
}
#container_left_sidebar .cpt_tag_cloud { background:#fff url(../../images/mdr_companyname_background.gif) left bottom repeat-x; padding:20px 10px;}
#container_main_content ul { list-style-position:inside;}
/* ====================== STYLES OF ELEMENTS THAT APPEAR INSIDE VARIOUS COMPONENTS ====================== */
h1.welcome { color:#214B70; font-weight:normal; font-size:19pt; letter-spacing:-1px; margin:10px;}


#shpcrtca{
 font-weight: bold;
 font-size: 130%;
 white-space: nowrap;
}

#searchstring
{ width: 60%;
}

.block_tag_cloud  { font-size:15px;}
.block_tag_cloud a { text-decoration:none;  font-family:Arial, Helvetica, sans-serif; word-spacing:110%; letter-spacing:120%;}


/* ====================== PREDEFINED STYLES; edit, but do not delete these styles ====================== */

.small
{ font-size: 80%;
}
.big
{ font-size: 150%;
}

.background1, .background1 td
{ background-color: #D9E9FF;
}

.btn_checkout
{ font-size: 130%;
  font-weight: bold;
  margin: 10px;
  padding: 3px;
}

.prdbrief_add2cart
{
	background:#bf1a4c;
	color:white;
	height:100%;
	padding:0 20px;
	width:95px;
	border-radius: 0 50px 50px 0;
}
.prdbrief_add2cart:hover, .call_back_order:hover, .buy_buttons .buttonInBasket:hover, .oneLinkBuy:hover, #fastorder-form .oneClickBuy:hover
{
box-shadow: inset 0px 5px 7px rgba(0,0,0,0.2);	
}

a.oneLinkBuy:hover
{
	background:#5caf22;
	color:white;
}


.error_block
{ font-weight: bold;
  color: red;
}



/*

a.admdivslst:hover,a.admdivslst:link,a.admdivslst:visited,a.admdivslst:active{text-decoration: none;color: blue;font-weight:normal;font-size:10pt;}
a.admdivslst:hover{color: navy;}

a.h_admdivslst:hover,a.h_admdivslst:link,a.h_admdivslst:visited,a.h_admdivslst:active{text-decoration: none;color: #888888;font-weight:normal;font-size:10pt;}
a.h_admdivslst:hover{color: #555555;}

*/

#tbl-checkout-progress td{
font-size: 0.7em;
vertical-align: top;
}

.current_prd_thumbnail img{
	border: #BBBBBB 3px solid;
}
a.prd_thumbnail img{
	border: #FFFFFF 3px solid;
}
a.prd_thumbnail:hover img{
	border: #BBBBBB 3px solid;
}

.news_date
{ color: #555;
  font-size: 90%;
}
.news_title
{ padding-bottom: 10px;
}
.news_title a { color:#000; font-weight:normal;}
.news_viewall
{ padding-bottom: 10px;
}
.news_subscribe, .news_thankyou
{ padding: 5px;
  background-color: #f4f4f4;
}
.news_subscribe img { vertical-align:middle;}
/************************
BLOG STYLES
***************************/
.post_title{
 color: #666;
 margin-top: 30px;
 margin-bottom: 0px;
}
.post_date{ 
 color: #999;
 border: 0px solid #EEE;
 border-top-width: 1px;
 margin-bottom: 15px;
 }
.post_content{
 padding-left: 15px;
}

/***************************
PRODUCTS COMPARISON
****************************/
.cmp_headers{
 background-color: #d9e9ff;
}
.cmp_column_odd{
 background-color: white;
 vertical-align: top;
}
.cmp_column_even{
 background-color: #F2F8FF;
 vertical-align: top;
}
#cmp-table tr:hover td{
 background-color: #d5e5fa!important;
}
#cmp-table tr td{
 text-align:center;
 padding: 6px;
}
#cmp-table tr td.cmp_headers{
 text-align: left;
}
#cat_product_sort
/***************************
PRODUCT DETAILED
****************************/
.regularPrice{
 color: brown;
 text-decoration: line-through;
}
.totalPrice{
 color: #535353;
 font-family: globerxbold;
 font-size: 16px;
 line-height:35px;
 padding-top:5px;
 display:inline-block;
text-align:center;
 width:115px;
}
.youSaveLabel{
 font-size: 75%;
}
.youSavePrice{
 font-size: 75%;
}
.prd_out_of_stock {
 font-style:  italic;
}
.cpt_product_category_info a { font-size:14px;}
/************************
PRODUCT REVIEWS STYLES
***************************/
.review_block
{ margin-left: 20px;
}
.review_title{
 color: #333;
 margin-top: 10px;
 margin-bottom: 0px;
 font-size: 120%;
}
.review_date{ 
 color: #999;
 border: 0px solid #EEE;
 border-top-width: 1px;
 font-size: 90%;
 margin-bottom: 5px;
 }
.review_content{
 color: #333;
 padding-left: 20px;
}
.review_showall{
 margin-left: 20px;
}

/****************************
SHOPPING CART
*****************************/
.background_cart_top
{ background-color: #D9E9FF;
  border-bottom: 1px #99C9DF solid;
  font-size:13pt;
}
.background_cart_top h1{
 display: inline;
 padding: 0px;
 margin: 0px;
}
#cart_content_tbl{
     width:100%;}
#cart_content_tbl td{
 padding: 6px;
}
#cart_page_title{
 padding: 10px;
 text-align: left;
}
#cart_page_title h1{
 display inline;
 padding: 0px;
 margin: 0px;
}
#cart_clear{
 padding: 10px;
 text-align: right;
}
#cart_clear a{
 font-size:9pt;
}
.cart_discount_label{
 font-weight: bold;
}
#cart_total_label{
 font-size: 130%;
 font-weight: bold;
}
#cart_total{
 background-color: #D9E9FF;
 font-size: 130%;
 font-weight: bold;
 padding: 10px;
 white-space: nowrap;
}
#cart_checkout_btn{
 padding-top: 20px;
}
.cart_product_brief_description{
 font-size: 80%;
}
#cart_content_header td{
 font-weight: bold;
}
.cart_apply_for_discounts_extra{
 font-size: 80%;
 color: #777;
}
.cart_product_quantity{
 text-align: center;
}

/********************
HOMEPAGE UNFOLDED TREE
*********************/
.rcat_root_category
{ font-size: 120%;
  font-weight: bold;
}
.rcat_products_num
{ color: #999999;
  font-size: 80%;
}
.rcat_child_categories a
{ line-height:150%;
  font-weight: normal;
  font-size:90 %;
  color:#0085B0;
}
.rcat_child_categories a:hover { text-decoration:underline;}
/********************
REGISTRATION PAGE
*********************/
#reg_fields_tbl td{
 padding: 5px;
}
#reg_auth_fields td{
 background-color: #D9E9FF;
}
#reg_confcode td{
 background-color: #D9E9FF;
}
#reg_fields_tbl td input, .addressform td input{
 width: 300px;
}
#subscribed4news{
 width:auto!important;
}
#reg_fields_tbl td textarea, .addressform td textarea{
 width: 300px;height: 100px;
}
#reg_submit_btn{
 font-size:150%;
 font-weight: bold;
}

/*********
SEARCH IN CATEGORY
**********/
#cat_advproduct_search{
border:1px solid #E0E0E0;
 float: right;
 padding: 10px;
 margin-left: 10px;
 //width:220px;
}
#cat_advproduct_search h3{
 padding:0px;
 margin: 0px;
 padding-bottom: 10px;
}
.catlist_item_container {
	float: left;
	width: 292px;
	height: 500px;
	padding:0 12px 12px 0;
	

}
.catlist_item_container:nth-child(3n)
{
	padding-right:0;
}

.popular_products .inner
{
	border-top:1px solid white;
	border-bottom:1px solid #e2e2e2;
	padding-bottom:30px;
}

.popular_cat .inner
{
	border-top:1px solid white;
}
.popular_products .catlist_item_container:nth-child(3n)
{
	padding-right:12px;
}
.popular_products .caroufredsel_wrapper
{
	margin-bottom:0 !important;
}

.catlist_item_container:last-child
{
	padding-bottom:35px;
}
.prdbrief_thumbnail
{
	height:210px;
	position:relative;
	
}

.prdbrief_thumbnail .icons_compact
{
	position:absolute;
	right:0;
	top:0;
}
.prdbrief_thumbnail .icons_compact a
{
	padding:0;
}
.product_brief_block img.feed_elem
{
	margin-bottom:20px;
}


.prdbrief_thumbnail a
{
	display:block;
	padding:10px 0;
}
.prdbrief_name a
{
	color: #BF1A4C;
	text-decoration:none;
	font-family: globerbold;
	font-size:14px;
	border-bottom:1px solid #e9e9e9;
	display:block;
	min-height:45px;
}
.instruct_small
{
	background:#f8f8f8;
	border-radius:7px;
	
	
}

.instruct_small .instruct
{
	line-height:14px;
	background-position:center 16px;
	padding:60px 20px 0 20px;
	color:#bf1a4c;
	text-decoration:none;
	font-size:10px;
	font-family: globerbold;
	text-align:center;
	display:block;
}
.video_small, .instruct_small, .video_small iframe
{
	float:left;
	width:148px;
	height:110px;

	}
	
	.video_small img
	{
		width:147px;
		
	}
.video_small
{
	margin-right:19px;
	position:relative;
	border-radius:7px;
	overflow:hidden;
}
.cont_hidden
{
	overflow:hidden;
	margin-bottom:30px;
}
body{
	background:#f7f7f7;
}

.product_brief_block
{
	background:White;
	border-radius:7px;
	padding:20px 20px 25px 20px;
	height:90%;
}
.product_brief_block img {
	max-height: 180px;
	max-width: 200px;
	margin: 5px auto;
	display: block;
}



#cat_top_tree { overflow:hidden;}
/************
CHECKOUT
************/
.checkout_noframe_title {
	padding: 5px 15px;
}
#checkout_have_account {
	padding: 15px;
	background-color: #D9E9FF;
	margin: 0 -5px 15px -5px;
}
#checkout_logininfo { width:428px;}
#checkout_logininfo .inputtext, #checkout_addresses .inputtext, #checkout_addresses textarea {
	width: 200px;
}
.paddingblock input.checkout_buttons {
	font-size: 130%;
	font-weight: bold;
	margin:5px 0;
}
.checkout_steps_divider {
	width: 40px;
	height:1px;
	background-color:#99C9DF;
	overflow:hidden;
}
#checkout_addresses { width:800px;}
#checkout_addresses td { } 
/**********************
ORDER STYLES
***********************/
tr#ord_total_row * {
	font-size: 105%;
	font-weight: bold;
}
.row_odd td {
	background-color: #F2F8FF;
}
.row_even td {
	border: 0px solid #D9E9FF;
	border-width: 1px 0px;
}

.paddingblock { background:#fff;
	padding-left: 15px;
	padding-right: 15px;
	text-align:left;
	font-size:12pt;
}
.paddingblock h2 {
	padding:20px 5px;
	margin-top: 0px;
}
.paddingblock td { font-size:95%; vertical-align:top; padding:5px;}
.paddingblock p { margin-bottom:10px;}

.paddingblock input { margin:2px 0 0 0;}
.asterisk {
	color:red;
}
.cellpadding tr td {
	padding: 5px;
}
.cust_name {
	font-size:110%;
	font-weight: bold;
}
#prddeatailed_container .cpt_product_rate_form table {
	width: 100%;
	/***********************/
width: auto;/**/
}

#block-customerinfo td { font-size:100%;}
.cpt_product_images{
float: left;
}

/*NIFTY*/
b.niftycorners,b.niftyfill{display:block}

b.niftycorners *{display:block;height: 1px;line-height:1px;font-size: 1px;
    overflow:hidden;border-style:solid;border-width: 0 1px}
  
/*normal*/
b.r1{margin: 0 3px;border-width: 0 2px}
b.r2{margin: 0 2px}
b.r3{margin: 0 1px}
b.r4{height: 2px}
b.rb1{margin: 0 8px;border-width:0 2px}
b.rb2{margin: 0 6px;border-width:0 2px}
b.rb3{margin: 0 5px}
b.rb4{margin: 0 4px}
b.rb5{margin: 0 3px}
b.rb6{margin: 0 2px}
b.rb7{margin: 0 1px;height:2px}
b.rb8{margin: 0;height:2px}
b.rs1{margin: 0 1px}
/*transparent inside*/
b.t1{border-width: 0 5px}
b.t2{border-width: 0 3px}
b.t3{border-width: 0 2px}
b.t4{height: 2px}
b.tb1{border-width: 0 10px}
b.tb2{border-width: 0 8px}
b.tb3{border-width: 0 6px}
b.tb4{border-width: 0 5px}
b.tb5{border-width: 0 4px}
b.tb6{border-width: 0 3px}
b.tb7{border-width: 0 2px;height:2px}
b.tb8{border-width: 0 1px;height:2px}
b.ts1{border-width: 0 2px}

body.body-page-404 { background:#fff; background-image:none; text-align:left; font-size:12px;}
body.body-page-404 ul, body.body-page-404 li { list-style:none;}
.cpt_product_add2cart_button input { vertical-align:middle;}
#powered_by  { clear:left; padding-bottom:5px; background:#fff; font-size:11px!important; margin:0;}


/* =========================== Override Styles =========================== */
.cptovst_3hlng3 *,.cptovst_3hlng3{color: #000033!important;}
.cptovst_3hlng3 *,.cptovst_3hlng3{text-align: center!important;}


.cptovst_g4mfxg *,.cptovst_g4mfxg{color: #dd0808!important;}
.cptovst_g4mfxg *,.cptovst_g4mfxg{text-align: center!important;}


.cptovst_yz47pf *,.cptovst_yz47pf{color: #9f0505!important;}
.cptovst_yz47pf *,.cptovst_yz47pf{text-align: left!important;}


.cptovst_24js3e *,.cptovst_24js3e{color: #9f0505!important;}
.cptovst_24js3e *,.cptovst_24js3e{text-align: left!important;}




.cptovst_5if7u0 *,.cptovst_5if7u0{color: #9f0505!important;}
.cptovst_5if7u0 *,.cptovst_5if7u0{text-align: left!important;}


.cptovst_ajh5s7 *,.cptovst_ajh5s7{text-align: left!important;}


.cptovst_79sbk8 *,.cptovst_79sbk8{text-align: left!important;}


.cptovst_3frep1 *,.cptovst_3frep1{text-align: left!important;}


.cptovst_8gvlvs *,.cptovst_8gvlvs{color: #000099!important;}
.cptovst_8gvlvs *,.cptovst_8gvlvs{text-align: left!important;}






.cptovst_atci3f *,.cptovst_atci3f{text-align: left!important;}


.cptovst_b3r4fu *,.cptovst_b3r4fu{color: #000066!important;}
.cptovst_b3r4fu *,.cptovst_b3r4fu{text-align: center!important;}


.cptovst_f1jy54 *,.cptovst_f1jy54{color: #dd0808!important;}
.cptovst_f1jy54 *,.cptovst_f1jy54{text-align: left!important;}


.cptovst_9cg94r *,.cptovst_9cg94r{color: #e7b827!important;}
.cptovst_9cg94r *,.cptovst_9cg94r{text-align: center!important;}


.cptovst_8vk6df *,.cptovst_8vk6df{color: #474440!important;}
.cptovst_8vk6df *,.cptovst_8vk6df{text-align: left!important;}


.cptovst_2g2wf2 *,.cptovst_2g2wf2{color: #9f0505!important;}
.cptovst_2g2wf2 *,.cptovst_2g2wf2{text-align: center!important;}


.cptovst_wpe3jv *,.cptovst_wpe3jv{color: #000099!important;}
.cptovst_wpe3jv *,.cptovst_wpe3jv{text-align: left!important;}


.cptovst_z1w81l *,.cptovst_z1w81l{color: #9f0505!important;}
.cptovst_z1w81l *,.cptovst_z1w81l{text-align: left!important;}


.cptovst_wcehqo *,.cptovst_wcehqo{color: #000033!important;}
.cptovst_wcehqo *,.cptovst_wcehqo{text-align: left!important;}


.cptovst_ps8en8 *,.cptovst_ps8en8{text-align: left!important;}


.cptovst_861roo *,.cptovst_861roo{text-align: left!important;}




.cptovst_h4fnxl *,.cptovst_h4fnxl{text-align: left!important;}


.cptovst_blg73z *,.cptovst_blg73z{text-align: left!important;}


.cptovst_x8p36b *,.cptovst_x8p36b{text-align: left!important;}


.cptovst_ixf34r *,.cptovst_ixf34r{text-align: left!important;}


.cptovst_ctl38e *,.cptovst_ctl38e{text-align: left!important;}


.cptovst_8ju34l *,.cptovst_8ju34l{text-align: left!important;}


.cptovst_jandiq *,.cptovst_jandiq{text-align: center!important;}


.cptovst_oqwyer *,.cptovst_oqwyer{color: #000000!important;}
.cptovst_oqwyer *,.cptovst_oqwyer{text-align: center!important;}


/* ------------------- NEW  ------------------- */

@font-face {
font-family: globerbold;
src: url(../fonts/globerbold.ttf);
}

@font-face {
font-family: globerregular;
src: url(../fonts/globerregular.ttf);
}

@font-face {
font-family: globerbolditalic;
src: url(../fonts/globerbolditalic.ttf);
}

@font-face {
font-family: globersemibold;
src: url(../fonts/globersemibold.ttf);
}

@font-face {
font-family: globerxbold;
src: url(../fonts/globerxbold.ttf);
}



.root_cat {
	float: left;
	width: 230px;
	height: 230px;
	border-radius:5px;
	border:1px solid #f1ebeb;
	margin: 0 8px 10px 0;
	position:relative;
	background:white;
	overflow:hidden;
}
.r_cat_img {

	height:100%;
	
	text-align:center;
	
}
.r_cat_img > a 
{
	width: 230px;
	height: 230px;
	display:table-cell;
	vertical-align:middle;
}
.r_cat_img  img {
	
	display:inline-block;
	overflow: hidden;
}

.r_cat_name {
position:absolute;
left:0;
bottom:0;
padding:18px;
width:112px;
height:75px;
background:rgba(191,51,86,0.8);	

}
.r_cat_name:after
{
	content:"";
	width:40px;
	height:2px;
	background:white;
	position:absolute;
	top:60px;
	left:18px;
	
}

.price_pr
{
	display:block;
	position:absolute;
	bottom:13px;
	color:white;
	font-family: globersemibold;
}
.r_cat_name a
{
font-family: globerxbold;
text-decoration:none;
color:white;
font-size:14px;


}

.title_img_category {
	max-width: 100px;
	max-height: 80px;
	margin: 0px 20px 0px 0px;
}

.buttonInBasket {
	
	background:none;
	border:0;
	color:white;
	font-family: globerxbold;
	font-size:16px;
	cursor:pointer;
	outline:none;
}

.prdbrief_add2cart .buttonInBasket
{
	height:100%;
}

.button2inbasket {
	width: 143px;
	height: 26px;
	display: inline-block;
	background: url('/frontend/img/add2cart_ru.png');
	vertical-align: bottom;
}
.prdbrief_brief_description {
	margin:0; 
	height: 82px;
	overflow: hidden;
	    font-family: globerregular;

}
.prdbrief_brief_description ul{
	padding-left: 5px;
}
.compare_form {
	text-align: center;
}
.inner
{
	width:1200px;
	margin:0 auto;
	
}
#top_line 
{
	height:60px;
	background:white;
}
#top_line ul 
{
	float:left;
	padding:0;
	margin:0;
}
#top_line ul  li
{
display:inline-block;	
font-size:14px;

}

#top_line ul  li a
{
color:#45393d;
text-decoration:none;
margin-right:12px;
line-height:60px;
font-family: globersemibold;	
}

.right_block
{
	float:right;
}

.top_line
{
	
	height:60px;
}
.conta_bask
{
	float:right;
	position:relative;
}
.conta_bask:hover #dropBasket
{
	display:block;
}
.small_basket
{
	
	display:block;
	color:white;
	text-decoration:none;
	padding:23px 20px 20px 55px;
	background:url("../img/basket_icon.png") 24px center no-repeat #bf1a4c;
	font-family: globersemibold;
	font-size:14px;
	letter-spacing:2px;
	position:relative;
	
}

.call_back
{
	color:#bf1a4c;
	line-height:60px;
	margin-right:50px;
	
font-family: globerbold;
font-size:14px;
letter-spacing:1.5px;
}

#bottom_line
{
	height:56px;
	padding:37px 0 40px 0;
	background:#f7f7f7;
}

#bottom_line img
{
	float:left;
	margin-right:105px;

}

.search_block
{
	width:320px;
	float:left;
	position:relative;


}

.search_block input[name="search"]
{
	padding: 17px 40px 13px 17px;
	border:1px solid #d6d6d6;
	border-radius:5px;
	width: 500px;
	outline:none;

}

.search_block input[name="ok"]
{
	position:absolute;
	top:16px;
	    right: -220px;
	width:16px;
	height:16px;
	overflow:hidden;
	text-indent:20px;
	border:0;
	background:url("../img/icon_search.png") center center no-repeat;
	outline:none;
}
.search_block > ul {
	width: 500px;
    position: absolute;
	top:35px;
    z-index: 9;
    background: #fff;
    list-style: none;
    text-transform: none;
    font-size: 14px;
	border-radius:5px;
}
.search_block > ul > li {
	padding: 10px;
	
}
.search_block > ul > li > a{
	text-decoration:none;
	color:#020202;
}
.phone_block
{

	color:#45393d;
letter-spacing:2.3px;
float:right;
}

.phone_block:nth-child(4)
{
	margin-right:67px;
}
.info-box:nth-child(1)
{
	
}
.text_clock
{
	line-height:20px;
	font-family: globersemibold;
font-size:14px;
letter-spacing:1.5px;
}
.text_red
{
	 color:#bf1a4c;
}
.phone
{
	font-size:24px;
	line-height:47px;
font-family: globerxbold;
}

.left_tree
{
width:280px;
float:left;
border-radius: 0 0 10px 10px;

background:white;
}

.left_tree h2
{
color:white;
background:url("../img/icon_menu.png") 20px center no-repeat #bf1a4c;
font-family: globerxbold;
line-height:55px;
padding-top:5px;
text-transform:uppercase;
padding:6px 0 0 65px;
margin:0;
position:relative;
font-size:18px;
}
.left_tree>ul
{
padding: 15px 0;
margin:0;
position:absolute;
z-index:999;

box-shadow: 5px 5px 7px rgba(235,235,235,0.5);
background:white;
width:280px;
}
.left_tree>ul>li.info-box>a
{
/* line-height:55px; */
padding:13px 20px 10px 20px;
	
}


#carousel
{
width:920px;
height:420px;
}

.content_slid
{
width:400px;
height:310px;
padding-top:90px;
padding-right:460px;
padding-left:60px;
}

#pager
{
	position:absolute;
	top:350px;
	left:65px;
}

#pager a
{
	background:url("../img/page_sl.png") center center no-repeat;
	width:18px;
	height:18px;
	display:inline-block;
	text-indent:20px;
	overflow:hidden;
	margin-right:8px;
}
#pager a.selected
{
	background:#ab0834;
	border-radius:30px;
}
#pager_popular
{
	float:right;
}
#pager_popular a
{
	width:12px;
	height:12px;
	border:3px solid #d9d9d9;
		text-indent:20px;
	border-radius:18px;
	display:inline-block;
	overflow:hidden;
	margin-right:10px;
}
#pager_popular a.selected
{
	border-color:#ab0834;
}

.content_slid p
{
margin-top:0;
}

.caro
{
margin-left:280px;
position:relative;
}

.content_slid:nth-child(1)
{
	background:url("../img/slide1.jpg") right center no-repeat;
}
.content_slid:nth-child(2)
{
	background:url("../img/slide2.jpg") right center no-repeat;
}
.content_slid s2
{
	background:url("../img/slide2.jpg") right center no-repeat;
}
.submenu
{
	display:none;
	position:absolute;
	left:280px;
	top:0;
	padding:0;
	margin:0;
	
	background:white;
	z-index:100;
	height:360px;
	padding:15px;
	box-shadow: 5px 5px 7px rgba(235,235,235,0.5);
	white-space: nowrap;
}
.submenu ul
{
padding:0;
list-style-type:none;
display:inline-block;
vertical-align:top;
height:360px;
}

.submenu li
{

}

.submenu li a
{
	line-height:20px;
	padding:4px 10px;
	font-size:14px;
	display:block;
	
	
	
}
.submenu li a:hover
{
	color:#bf3356;
}
.info-box:hover
{
	background:url("../img/arrow_menu_w.png") 250px center no-repeat #bf1a4c;
	box-shadow: inset 0px 5px 7px rgba(0,0,0,0.2);
	
}

.info-box >a 
{
	padding-top:3px;
	display:block;
}
.info-box:hover>a
{
	color:white;
	
}
.info-box:hover .submenu{
	
	display:block;
}
.info-box
{

 padding:0;
 background:url("../img/arrow_cat.png") 250px center no-repeat;
 list-style-type:none;
}

.info-box a
{
	
	
	font-size:16px;
	font-family: globersemibold;
	color:#545454;
	text-decoration:none;
	
}

.caro a
{
	text-decoration:none;
	color:#020202;
}
.caro a h3
{
	font-family: globerxbold;
	font-size:30px;
	text-transform:uppercase;
	margin-top:0;
	line-height:35px;
}

.caro a p
{
	font-size:16px;
}

#top_footer
{
	background:#95032e;
	padding:40px 0;
	color:white;
	overflow:hidden;

}
#bot_footer
{
	background:#870226;
	color:white;
	padding:20px 0;
	height:45px;
	font-family: globerbold;
}

#top_footer ul 
{
	margin:0;
	padding:0;
	list-style-type:none;
	
}
#top_footer .inner>div, #top_footer .inner>ul
{
float:left;
height:82px;
margin-right:110px;
	font-family: globerbold;
}
#top_footer ul  a
{
	color:white;
	text-decoration:none;
	line-height:30px;
}

#top_footer .inner .contact_footer
{
	float:right;
	margin:0;
	font-family: globerxbold;
	line-height:30px;
}
.contact_footer .to_mobile {
	display: block;
	color: white;
}

#bot_footer .visa
{
	float:right;
}

#bot_footer .visa img:nth-child(1)
{
	margin-right:12px;
}

.copyright
{
	float:left;
	padding-top:10px;
}

#column
{
	width:280px;
	float:left;
	padding:35px 0;
}

.content
{
	margin-left:300px;
	padding-bottom:60px;
}

h1
{
	color:#535353;
	font-family: globersemibold;
	font-size:24px;
}

#cat_path
{
	background:#eceef2;
	height:60px;
	border-bottom:1px solid #e8e8e8;
	border-top:1px solid #e8e8e8;
	
}
#cat_path .left_tree>ul
{
	display:none;
}

#cat_path .left_tree:hover>ul
{
	display:block;
}

.bread
{
	line-height:50px;
	padding-top:8px;
	margin-left:288px;
	color: #BF1A4C;
	    font-family: globerbold;
}
.bread > div {
	display:inline;
}
.bread a
{
	color:#606060;
	text-decoration:none;
	font-family: globerregular;
}

.bread a, .bread > div > span
{
	padding:0 15px;
}

.block_price_buy
{
	height:40px;
	border:1px solid #bf1a4c;
	border-radius:50px;
	margin:20px 0;
	
}

.block_price_buy>div
{
	float:left;
}

.green_text
{
	color:#5caf22;
}

.grey_text
{
	color:#9d9d9d;
}
.basketInform
{
	font-family:globersemibold;
	font-size:16px;
	color:#535353;
	
}
.basketInform span
{
	line-height:24px;
}

.basketInform span span
{
	font-size:18px;
	font-family:globerbold;
	
	
}
.white_line
{
	background:#FCFDFF;
}

h1
{
	padding:40px 0 35px 0;
	margin:0;
}

#product_cont
{
	background:white;
	width:100%;
	overflow:hidden;
}

.fhoto
{
	width:485px;
	float:left;
	position:relative;
}

.fhoto  .beurer-icon {
    display: block;
    position: absolute;
    width: 100px;
    top: 40px;
    right: 55px;
    height: 63px;
    background-image: url(/img/beurer_icon.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-index:2;
}
.small_fhoto_cont
{
	position:relative;
}

.small_fhoto_cont #cl_left, .small_fhoto_cont #cl_right
{
	position:absolute;
	width:25px;
	height:25px;
	top:40px;
	border-radius:30px;
	
	z-index:99;
	cursor:pointer;
	border:1px solid #f1f1f1;
}
.small_fhoto_cont #cl_left
{
	left:-13px;
	background:url("../img/arrow_car_l.png") 8px center no-repeat white;
}
.small_fhoto_cont #cl_right
{
	right:-10px;
	background:url("../img/arrow_car_r.png") center center no-repeat white;
}
.small_fhoto_cont ul
{
	margin:27px 0 0 0;
	padding:0;
	list-style-type:none;
}

.big_fhoto_cont, .small_fhoto_cont ul li
{
	border:1px solid #e8e8e8;
	border-radius:5px;

	
}

.small_fhoto_cont ul li.selected
{
	border-color:#bf3356;
}

.small_fhoto_cont ul li
{
	width:108px;
	height:108px;
	
	float:left;
	margin-right:14px;
	
}
.small_fhoto_cont ul li:last-child
{
	margin:0;
}
.small_fhoto_cont ul li a
{
	width:108px;
	height:108px;
	display:table-cell;
	vertical-align:middle;
}

.big_fhoto_cont
{
	vertical-align:middle;
	display:table-cell;
	height:425px;
	width:480px;
}

.big_fhoto_cont img, .small_fhoto_cont ul li img
{
	margin:0 auto;
	display:block;
	max-width:500px;
	max-height:400px;
}


.left_product
{
	margin-right:355px;
	
}
.teh_har ul
{
	padding:0;
	
}
#tabs .teh_har li
{
	display:block;
	float:none;
	margin:7px 0;
	
}

.dop_info
{
	color:#535353;
}

.prem_block
{
	margin-left:530px;
	height:580px;
}
.podl
{
	background:url("../img/icon_play.png") center center no-repeat rgba(0,0,0,0.5);
	z-index:3;
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
}
.right_product
{
	float:right;
	background:#f3f3f3;
	width:315px;
	padding-top:85px;
	 padding-bottom: 20000px;
    margin-bottom: -20000px;
}

.price
{
	color:#535353;
	height:30px;
	line-height:30px;
}
.price .num
{
	font-family: globerxbold;
	font-size:30px;
	padding-left:40px;
	color:#535353;
	
	
}
.price .label
{
	line-height:30px;
	font-size:14px;
	font-family: globersemibold;
}
.right_block1
{
	padding:0 40px;
}
.right_block1:nth-child(1)
{
	border-top:none;
}
.availability
{
	margin:49px 0 40px 0;
	background:url("../img/oplata.png") right center no-repeat;
	padding:5px 0 3px 0;
}
.availability span
{
	font-family: globersemibold;
	font-size:14px;
}
.right_product .buttonInBasket, .right_product .oneLinkBuy
{
	line-height:33px;
	padding-top:5px;
	text-align:center;
	display:block;
	border-radius:40px;
	margin-bottom:20px;
	font-family: globerbold;
	text-transform:uppercase;
	padding-top:5px;
	font-size:16px;
}
.right_product .buttonInBasket
{
	background:#bf1a4c;
		
}
.right_product .oneLinkBuy
{
	border:1px solid #5caf22;
	color:#5caf22;
	cursor:pointer;
}
.right_block1
{
	padding:0 40px 30px 40px;
	border-top:1px solid white;
	border-bottom:1px solid #e2e2e2;
}
.right_block1 .delivery
{
	padding:22px 0;
}
.delivery, .delivery table td
{
	font-family: globerbold;
	font-size:14px;
	color:#535353;
	padding:7px 0;
}

.delivery table td:nth-child(2)
{
	padding-left:30px;
}
.right_block1 .advantages
{
	padding-top:40px;
}
.advantages ul
{
	
		background:url("../img/advantages_icons.png") left 2px no-repeat;
		padding: 0 0 0 50px;
		margin:0;
		list-style-type:none;
}
.advantages  li
{
	margin-bottom:22px;
	color:#535353;
	font-family: globersemibold;
	font-size:14px;
}

.advantages ul li:nth-child(2)
{
	margin-bottom:16px;

}
.advantages ul li:nth-child(3)
{
	margin-bottom:18px;
}

.advantages ul li:last-child
{
	margin:0;
}

.answers
{
	padding:25px 38px;
	background:#96b400;
	color:white;
}

.answers input
{
	width:210px;
	margin-top:12px;
	border-radius:5px;
	border:0;
	outline:none;
}

.answers input[type="text"]
{
	
	background:#7e9900;
	color:white;
	padding: 10px 15px 7px 15px;
	 box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
}
.answers input[type="submit"]
{
	text-align:center;
	padding:20px 20px 14px 20px;
	width:240px;
	text-transform:uppercase;
	font-family: globerxbold;
	color:#a36d00;
	background:#ffbd00;
	font-size:18px;
	cursor:pointer;
}
.answers input::-webkit-input-placeholder { color: white; }


.answers .zagol
{
	
font-family: globerxbold;
font-size:14px;
text-transform:uppercase;	
}

.answers p
{
	font-size:14px;
	font-family: globerbolditalic;
}

.container
{
	
}
#tabs
{

	overflow:hidden;
	padding-bottom:40px;
}
#tabs>ul
{
	margin:30px 0;
	padding:0;
	width:100%;
	height:35px;
	border-bottom:1px solid #f3f3f3;
}
#tabs>ul li
{
	list-style-type:none;
	float:left;
	margin-right:40px;
	
}

#tabs>ul li a
{
	font-family: globerbold;
	font-size:14px;
	text-decoration:none;
	color:#535353;
	padding-bottom:15px;
	outline:none;
	position:relative;
	text-transform:uppercase;
	
}
#tabs>ul li.ui-tabs-active a
{

	color:#bf1a4c;
	
}
#tabs>ul li.ui-tabs-active a:after
{
	content:"";
	width:100%;
	height:4px;
	position:absolute;
	background:#bf1a4c;
	bottom:-6px;
	left:0;
	border-radius:10px;
	
}
.instruct
{
  display:inline-block;
  height:40px;
  line-height:40px;
  background:url("../img/icon_pdf.png") left center no-repeat;
  padding-left:50px;
}



#column .advantages
{
	padding:20px;
	background:white;
	border-radius:5px;
	margin-bottom:25px;
}

#column .answers
{
	padding:20px;
	border-radius:5px;
}

.tovarCont
{
	margin-bottom:40px;
	overflow:hidden;
}

#price-slider
{
	height:10px;
	margin-bottom:20px;
	background:#eceef2;
}
#price-slider .ui-slider-range
{
	background:#96b400;
}

#price-slider .ui-slider-handle
{
	background:#e8e8e8;
	width:10px;
	height:25px;
	border-radius:5px;
	top:-8px;
	outline:none;
}

#price-slider .ui-slider-handle:after
{
	content:"=";
	margin-top:5px;
	display:block;
	text-align:center;
	color:#c7c7c7;
	outline:none;
}

.filter 	
{
	background:white;
	padding:20px;
	margin-bottom:25px;
	border-radius:7px;
	color:#535353;
}
	
	
.filter 	.value
{
	width:115px;
	float:left;
		font-family: globersemibold;
}

.filter  .caption
{
	font-family: globerxbold;
	margin-bottom:20px;
	color:#535353;
}
.filter 	.value:nth-child(3)
{
	margin-left:10px;
}
.filter  .range
{
	overflow:hidden;
	margin-bottom:20px;
}

.filter 	.value input
{
	width:89px;
	border-radius:5px;
	border:1px solid #d6d6d6;
	text-align:center;
	padding:10px 0 7px 0;
		font-family: globersemibold;
		margin-left:5px;
}

.popular_cat
{
	overflow:hidden;
	padding-bottom:55px;

}
.popular_cat>div>div
{
	float:left;
	border-radius:7px;
}

.block_1_p
{
	width:615px;
	height:415px;
	
}

.block_2_p
{
	width:308px;
	height:415px;
	
}

.block_3_p
{
	width:277px;
	height:415px;
	
}

.block_category
{
	margin-right:15px;
	border-radius:7px;
}
.block_category a
{
	display:block;
	width:100%;
	height:200px;
	color:#1f1d1d;
	text-decoration:none;
	text-align:center;
	padding-top:22px;
	font-family:"globerbold";
	font-size:18px;
}


.block_3_p 	.block_category
{
	margin-right:0;
}

.block_1_p .block_category:nth-child(1)
{
	width:600px;
	height:200px;
	margin-bottom:15px;
	background:url("../img/prost.png") 270px center no-repeat #dcb7bf;
}
.block_1_p .block_category:nth-child(1) a
{
 	padding-left:50px;
	width:592px;
	vertical-align:middle;
	display:table-cell;
	text-align:left;
	padding-top:0;
}
.block_1_p .block_category:nth-child(2)
{
	background:url("../img/vesy.png") center 60px no-repeat #d2eef1;
}

.block_1_p .block_category:nth-child(3)
{
	background:url("../img/zerkalo.png") center 65px no-repeat #e8afde;
}

.block_1_p .block_category:nth-child(2), .block_1_p .block_category:nth-child(3),  .block_3_p .block_category
{
	width:292px;
	height:200px;
	float:left;
}

.block_1_p .block_category:nth-child(2) a, .block_1_p .block_category:nth-child(3) a,  .block_3_p .block_category a
{
	margin:0 auto;
}
 .block_2_p .block_category
 {
	width:293px;
	background:url("../img/nakid.png") center 115px no-repeat #edcf96;	
	height:415px;
 }
 .block_2_p .block_category a
 {
	 height:400px;
 }
  .block_3_p .block_category:nth-child(1)
  {
	  margin-bottom:15px;
	  background:url("../img/manic.png") center 65px no-repeat #eacce2;
  }
  
  .block_3_p .block_category:nth-child(2)
  {
	
	  background:url("../img/ton.png") center 60px no-repeat #89d4b7;
  }
  
  .hide_cont
  {
	  display:none;
  }
  
  #add_product_form .left
  {
	 width:230px;
  }
  #add_product_form .left:nth-child(3)
  {
	  width:270px; 
  }
  
  .quickBuy
  {
	 
	  width:540px;
	  background:white;
	  padding:30px;
	  margin:0 auto;
	  position:relative;
	  top:0 !important;
	  display:table;
	    box-shadow: 0 0 10px rgba(0,0,0,0.2);
	  
  }
   .quickBuy p
   {
	  color:#535353;
	font-size:12px;	

   }
.img-cont
{
	border:1px solid #f0f0f0;
	width:100px;
	height:100px;
	float:left;
	border-radius:7px;
	text-align:center;
	
	line-height:100px;
} 

.cont_link
{
	height:102px;
}
#dropBasket ul
{
	float:none;
}
#dropBasket a.name
{
	line-height:17px;
	font-size:14px;
	padding:0 0 10px 70px;
}

#dropBasket span.price
{
	padding-left:0px;
}

#itog
{
font-family: globerbold;
font-size:14px;
color:#535353;	
padding-top:20px;
}
#itog>span
{
	line-height:30px;
	display:block;
}
#itog span span
{
	font-family: globerxbold;
	font-size:18px;
	color:#bf1a4c;
	float:right;
	
}

#itog .oform
{
	display:block;
	letter-spacing:1.5px;
	font-size:14px;
	text-decoration:none;
}

#itog .oform:hover
{
	background:#bf1a4c;
	color:white;
}
 .quickBuy a.name, a.next, a.name
 {
	 text-decoration:none;
	 color:#535353;
	 font-family: globerbold;
	font-size:16px;
	padding:0 0 50px 111px;
	display:block;
 }
  .quickBuy img
  {
	 vertical-align:middle;
 }
    .quickBuy .left
	{
		width:260px;
		float:left;
	}
	
	.quickBuy .left:nth-child(2)
	{
		margin-right:20px;
	}
	.quickBuy .left:nth-child(3)
	{
		/* width:240px; */
	}
  .quickBuy h2
  {
	  text-align:center;
	  margin-bottom:25px;
	  text-transform:uppercase;
	  font-family: globerxbold;
	  font-size:18px;
  }

	a.next
	{
		padding:0;
		margin-top:55px;
		font-family: globerregular;
		text-decoration:underline;
		color:#535353;
	}
  
    #ans .left input
	{
		width:220px;
	}
	 #ans .left p
	 {
		 margin-top:30px;
	 }
	#ans .left:nth-child(2)
	{
		margin:0 0 0 20px;
	}
	
	#ans .left:nth-child(4)
	{
		margin:0 0 0 20px;
	}
	#ans .call_back_order, .oneClickBuy, .oform
	{
		padding:15px 0 10px 0;
		text-align:center;
		width:100%;
		margin-top:20px;
		border:1px solid #c32857;
		border-radius:50px;
		font-family: globerbold;
		font-size:16px;
		color:#c32857;
		background:none;
		font-weight:400;
		outline:none;
		cursor:pointer;
		
	}
	
	.basketInform
	{
		background:#f2f2f2;
		padding:30px;
	}
	
	.basketInform .oform
	{
		margin-top:42px;
		background:#bf1a4c;
		color:white;
		display:block;
		text-decoration:none;
	}
	#ans .call_back_order:hover, .oneClickBuy:hover
	{
		background:#c32857;
		color:white;
		
	}
   .dop  .advantages
   {
	   overflow:hidden;
   }
    .dop .inner
	{
		border-bottom:1px solid #e2e2e2;
	}
   .dop .advantages
   {
	   padding-left:59px;
	   margin:35px 0;
   }
  .dop .advantages li
  {
	display:inline-block;
	max-width:160px;
	padding-left:50px;
	background-image: url(../img/advantages_icons.png);	
	background-repeat:no-repeat;
	height:34px;
	padding-top:2px;
	margin:0 22px 0 0;
	color:#9f9f9f;
	float:right;
  }
  
   .dop .advantages li:nth-child(1)
   {
	   background-position:5px 2px;
	   margin-right:12px;
   }
   
  .dop .advantages li:nth-child(2)
   {
	   background-position:8px -51px;
	   margin-right:26px;
   }
   
       .dop .advantages li:nth-child(3)
   {
	   background-position:8px -103px;
   }
   
   
         .dop .advantages li:nth-child(4)
   {
	   background-position:8px -153px;
   }
 .caro p .text_red
 {
	 position:relative;
	 padding-right:50px;
 } 
.caro p .text_red:after
  {
		content:"";
		position:absolute;
		width:40px;
		height:3px;
		background:#bf3356;
		top:6px;
		right:0;
 }
 
 .deliveryMethod input
 {
	display:none; 
 }
  
.deliveryMethod label	
{
	display: inline-block;
    cursor: pointer;
    position: relative;
	padding:0;
    margin-right: 15px;
    font-size: 13px;
	width:101px;
	height:85px;
	padding:76px 30px 0 30px;
	border:1px solid #d4d4d4;
	float:left;
	border-radius:7px;
	text-align:center;
	background:white;
	font-family: globersemibold;
	color:#535353;
}
.deliveryMethod label:last-child
{
	margin-right:0;
}
.deliveryMethod label:before {

    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    position: absolute;
	top:35px;
    left: 67px;
    bottom: 1px;
	border:1px solid #d4d4d4;
	border-radius:20px;

}
.deliveryMethod  input[type='radio']:checked + label
{
	border:1px solid #bf3356;
	
}

.deliveryMethod input[type='radio']:checked +label:before {

    content: "";
    background: #bf3356;
      width: 20px;
    height: 20px;
    
   

}


.itog
{
	background:white;
	padding:15px;
	padding-top:20px;
	font-family: globersemibold;
	font-size:16px;
	float:left;
	color:#535353;
	border-radius:5px;
	margin-bottom:40px;
}

.summ_Price
{
	padding-right:16px;
	margin-right:16px;
	border-right:1px solid #ebebeb;

	float:left;
	font-family: globersemibold;
	font-size:18px;
	}
	
	
.num, .unit
{
	
	color:#bf3356;
	font-family: globerxbold;
	
	
}
.num
{
	padding-left:10px;
}

.mcat
{
	overflow:hidden;
	min-height:500px;
}
.new_filters
{
	height:22px;
	float:right;
	margin-top:40px;
	color:#606060;
	font-family: globerbold;
}

#loadMore
{
	font-family: globerbold;
	font-size:16px;
	color:#bf3356;
	text-decoration:none;
	display:block;
	margin: 30px 0 30px 320px;
	height:30px;
	width:190px;
	clear:both;
	padding:15px 35px 0px 35px;
	text-align:center;
	border:1px solid #bf1a4c;
	vertical-align:middle;
	border-radius:30px;
	float:left;
	
}
.cat_info_left_block
{
	float:left;
}
.new_filters input, .my_sort
{
	display:none;
}
.new_filters input[type=radio]+ label:nth-child(2)
{
	
	margin-left:7px;
}
.new_filters input[type=radio]+ label
{
	padding:5px 10px;
	border-radius:4px;
	font-family:'globerregular'
}
.new_filters input[type=radio]:checked + label
{
	background:#bf1a4c;
	color:white;
	
}

#static_page
{
	padding:20px 0 50px 0;
	min-height:270px;
}

.col
{
	padding-left:37px;
}

.mfp-close-btn-in .mfp-close
{
	color:#bf1a4c;
	top:-35px;
	
	font-size:30px;
	font-weight:bold;
}

.mfp-close-btn-in .quickBuy .mfp-close
{
right:-14px;	
}
.mfp-bg
{
	background:#ebebeb;
	opacity:0.9;
}

#dropBasket
{
	position:absolute;
	display:none;
	top:60px;
	right:0;
	background:white;
	box-shadow:0 0 10px rgba(0,0,0,0.2);
	padding:20px;
	width:215px;
	z-index:9;
}
#dropBasket .img-cont
{
	width:65px;
	height:65px;
}

#dropBasket .img-cont img
{
	width:100%;
}
#dropBasket li
{
	padding:17px 0 12px 0;
	margin:0;
	border-bottom:1px solid #f1f1f1;
	
}
#dropBasket .price
{
	font-size:14px;
}
.small_basket:hover #dropBasket
{
	display:block;
}
.tags_cloud
{
	padding:20px;
	background:#eeeef2;
	margin-bottom:25px;
	border-radius:5px;
}
.title_cat
{
	font-family: globerxbold;
	font-size:14px;
	text-transform:uppercase;
	margin-bottom:10px;
}
.tags_cloud ul
{
	padding:0;
	margin:0;
}
.tags_cloud li
{
 list-style-type:none;
margin:0;
padding:0; 
}
.tags_cloud a
{
	line-height:30px;
	color:#535353;
	text-decoration:none;
	font-family: globersemibold;
}

.tags_cloud a.long {
    line-height: 22px;
}

.tags_cloud a.selected
{
	color:#bf1a4c;
}
#block_similar
{
	margin-left:-14px;
	padding-bottom:20px;
	overflow:hidden;
}
#block_similar .catlist_item_container
{
	width:188px;
	height:335px;
	border:1px solid #e8e8e8;
	margin:12px;
	padding:0;
	border-radius:6px;
}

#block_similar  .product_brief_block img
{
	max-width:120px;
	max-height:120px;
	display:inline;
	vertical-align:middle;
}

#block_similar .prdbrief_add2cart, #block_similar .prdbrief_brief_description
{
	display:none;
}
#block_similar .block_price_buy
{
	margin:15px 0 25px 0;
}
#block_similar  .prdbrief_thumbnail>a
{
	padding: 0;
	line-height:150px;
	text-align:center;
}
#block_similar .prdbrief_price
{
	float:none;
}
#block_similar .product_brief_block
{
	height:80%;
}
#block_similar .prdbrief_thumbnail
{
	height:150px;
}
#block_similar  .totalPrice
{
	width:100%;
}
#block_similar .prdbrief_name
{
	border-bottom:1px solid #e9e9e9;
}
#block_similar .prdbrief_name a
{
	height:35px;
	min-height:35px;
	overflow:hidden;
	display:inline-block;
	border:0;
}

.rating_m
{
	margin-right:30px;
	line-height:60px;
	display:inline-block;
}
.rating_m img
{
	vertical-align:middle;
}

.tags_hidden{
	overflow: hidden;
	max-height: 440px;
}

#showTags{
	cursor: pointer;
	font-size: 16px;
	border-bottom: 2px dotted #bf1a4c;
    display: inline-block;
    box-sizing: border-box;
    height: 20px;
    color: #bf1a4c;
    margin-top: 10px;
}
#showTags:hover{
	border: none;
}

.wholesaler-request {
	font-family: 'globersemibold';
	font-size: 14px;
	line-height: 17px;
	width: 900px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
.wholesaler-request input, .wholesaler-request textarea {
	border-radius: 5px;
	border: 1px solid #d4d4d4;
	outline: none;
}
.wholesaler-request input {
	padding: 15px 17px;
	width:45%;
}
.wholesaler-request textarea {
	margin-top: 30px;
	width: 100%;
	height: 110px;
	background: #fff;
	padding: 10px 10px;
	color: #929292;
	outline: 0;
	box-sizing: border-box;
}
.wholesaler-request div {
	width:100%;
	margin-top:20px;
}
.wholesaler-request input[type="submit"] {
	padding: 15px 95px 12px 95px;
	border: 1px solid #5caf22;
	background: none;
	margin-left: 130px;
	border-radius: 30px;
	font-family: globerbold;
	color: #5caf22;
	font-size: 18px;
	width:250px;
}
.wholesaler-request input[type="submit"]:hover {
	color: #fff;
	background: #5caf22;
}

.top_scroll {
	position: fixed;
	width: 100%;
	top: 0px;
	background-color: white;
	z-index: 1000;
}
.top_scroll.fixed {
	display: block;
}
.top_scroll.default {
	display: none;
}
.top_scroll .inner_scroll {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 1200px;
	margin: 0px auto;
}
.top_scroll .inner_scroll .logo {
	width: 175px;
	height: 45px;
	background-image: url(/frontend/img/logo_lux.png);
	background-repeat: no-repeat;
	background-size: contain;
}
.top_scroll .inner_scroll .logo > a {
	width:100%;
	height:100%;
	display: block;
}
.top_scroll .inner_scroll .search {
	position: relative;
}
.top_scroll .inner_scroll .search #searchBox {
	padding: 10px 40px 10px 17px;
	border: 1px solid #d6d6d6;
	border-radius: 5px;
	width: 300px;
	outline: none;
}

.top_scroll .inner_scroll .search input[type="submit"]{
	position: absolute;
	top: 11px;
	right: 15px;
	width: 16px;
	height: 16px;
	overflow: hidden;
	text-indent: 20px;
	border: 0;
	background: url(../img/icon_search.png) center center no-repeat;
	outline: none;
}