* {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.container {
	width: 1280px;
	margin: 0px auto;
}

.tab_container h3{
	margin: 20px 0px;
	text-align: center;
}
.top-panel {
	min-height: 50px;
	margin-bottom: 14px;
}
.flag10med {
	text-align: center;
	font-size: 20px;
	margin: auto 5px;
	vertical-align: middle;
}
.flag10med.success {
	color: #468847;
}
.flag10med.danger {
	color: #b94a48;
}
.table>tbody>tr.success>td, .table>tbody>tr.success>th, .table>tbody>tr>td.success, .table>tbody>tr>th.success, .table>tfoot>tr.success>td, .table>tfoot>tr.success>th, .table>tfoot>tr>td.success, .table>tfoot>tr>th.success, .table>thead>tr.success>td, .table>thead>tr.success>th, .table>thead>tr>td.success, .table>thead>tr>th.success {
    background-color: #dff0d8;
}

.table>tbody>tr.danger>td, .table>tbody>tr.danger>th, .table>tbody>tr>td.danger, .table>tbody>tr>th.danger, .table>tfoot>tr.danger>td, .table>tfoot>tr.danger>th, .table>tfoot>tr>td.danger, .table>tfoot>tr>th.danger, .table>thead>tr.danger>td, .table>thead>tr.danger>th, .table>thead>tr>td.danger, .table>thead>tr>th.danger {
    background-color: #f2dede;
}
.table>tbody>tr.info>td, .table>tbody>tr.info>th, .table>tbody>tr>td.info, .table>tbody>tr>th.info, .table>tfoot>tr.info>td, .table>tfoot>tr.info>th, .table>tfoot>tr>td.info, .table>tfoot>tr>th.info, .table>thead>tr.info>td, .table>thead>tr.info>th, .table>thead>tr>td.info, .table>thead>tr>th.info {
    background-color: #d9edf7;
}
.table>tbody>tr.warning>td, .table>tbody>tr.warning>th, .table>tbody>tr>td.warning, .table>tbody>tr>th.warning, .table>tfoot>tr.warning>td, .table>tfoot>tr.warning>th, .table>tfoot>tr>td.warning, .table>tfoot>tr>th.warning, .table>thead>tr.warning>td, .table>thead>tr.warning>th, .table>thead>tr>td.warning, .table>thead>tr>th.warning {
    background-color: #fcf8e3;
}

.btn-group.btn-inline {
	display: inline-block;
	vertical-align: middle;
}

.alert > a {
	display: block;
	float: right;
	margin: 0px 10px;
}

.modal-item-edit .input-group {
	/*display: inline-block;*/
	margin: 5px;
	/*width: 270px;*/
	float: left;
}	

.alert {
	padding: 6px;
	margin-bottom: 5px;
}
.block_info > p,
.block_info > span {
	font-size: 14px;
	margin: 5px;
	font-weight: bold;
}
.block_info > p > span,
.block_info > span > span {
	color: #2f96b4;
}
.block_info hr {
	margin: 0px;
}
.alert_block {
	display: block;
	margin: 0px auto 10px 0px;
	text-align: left;
}
.nav > li > span.info {
	display: block;
	margin: 13px  5px;
	padding: 5px;
	font-size: 12px;
	line-height: 12px;
	border-radius: 5px;
	border: 1px solid #dcdcdc;
	font-weight: bold;
	color: #aaaaaa;
	background: #ffffff;
	letter-spacing: 1px;

}
.green {
	color: #468847;
}
.red {
	color: #b94a48;
}

.block-search  {
	float: right;
	width: 250px;
	margin: 10px;
}

.modal-10med-linking .block_info > span {
	width: 45%;
	display: inline-block;
}
.modal-10med-linking .block_info > span.item-title-text {
	width: 90%;
}

.search_result_list {
	height: 175px;
	padding: 0px 10px;
	overflow-y: scroll;
} 

.search_result_list .media {
	margin-top: 0px;
}
header > .container {
	position: relative;
}

.version {
	display: inline-block;
	position: absolute;
	top: 10px;
	right: 15px;
}
.search_result_list .media-object {
	max-width: 64px;
	max-height: 64px;
}
.s_result_data {
	color: silver;
	font-size: 11px;
	font-weight: bold;
}

.s_result_data > span {
	color: gray;
}