.title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
}
.small_title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}
.style1 {color: #9AC1C9}
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font:16px Arial; 
	background:#fff; 

}
.small_menu
{
	font:14px Arial; 
}
.big_menu
{
	font:24px Arial; 
}
.style2 {
	font-size: 36px;
	font-weight: bold;
	color: #84B4BD;
}
.style4 {color: #CC0000}
body,td,th {
	font-family: Arial, Helvetica, sans-serif;
}
a:link {
	color: #63A0AB;
	text-decoration: underline;
}
a:visited {
	text-decoration: underline;
	color: #63A0AB;
}
a:hover {
	text-decoration: underline;
	color: #63A0AB;
}
a:active {
	text-decoration: underline;
	color: #63A0AB;
}
.txt_spisok
{
	color: #000;
	text-decoration:underline;
	font-size: 14px;
	font-style:normal;
}

#box 
{
	width:300px;
	background-color:#fffeec; 
	border:1px solid #ffd6ba;
	-moz-border-radius: 20px;
	padding: 15px 15px 15px 15px;
}
#box2 
{
	font-size: 14px;
	width:200px;
	background-color:#fff; 
	border:1px solid #9ac1c9;
	-moz-border-radius: 20px;
	padding: 15px 15px 15px 15px;
}